fastapi
uvicorn[standard]
apscheduler      # планировщик (след. запуск)
pydantic
python-multipart # для загрузки новых json-ов (если нужно)
git+https://github.com/goodven152/parser_GETenders.git@add_arg_launch
